<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apliris.appliris.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Appliris"
        android:largeHeap="true"
        android:debuggable="false"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.apliris.appliris.app.Top_Activity"
            android:label="Appliris"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.apliris.appliris.app.Event_Activity"
            android:label="@string/title_activity_event_"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.apliris.appliris.app.Play_Activity"
            android:label="@string/title_activity_play__top_"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.apliris.appliris.app.Watch_Activity"
            android:label="@string/title_activity_watch_"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.apliris.appliris.app.Information_Activity"
            android:label="@string/title_activity_information_"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.apliris.appliris.app.TimetableActivity"
            android:label="@string/title_activity_schedulea"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.apliris.appliris.app.MAP_Activity"
            android:label="@string/title_activity_map"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.apliris.appliris.app.Eat_Activity"
            android:label="@string/title_activity_eat"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.apliris.appliris.app.Main2Activity"
            android:label="@string/title_activity_main2" >
        </activity>
    </application>

</manifest>
